<!DOCTYPE html>

<html ng-app>
    <head>
        <title>Zombie Duck</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.3/angular.min.js"></script>
        <script src="zombieduck.js"></script>
        <link rel="stylesheet" type="text/css" href="zombieduck.css" />
    </head>
    <body>
        <header>
            <h1>Zombie Duck</h1>
            <p>The epic text adventure!</p>
        </header>

        <div id="gameArea" ng-controller="GameCtrl">
            <ul id="gameHistory">
                <li ng-repeat="item in history" class="{{item.type}}">{{item.text}}</li>
            </ul>

            <form id="commandForm" ng-submit="enterCmd()">
                <input type="text" id="commandInput" ng-model="cmdText" placeholder="Enter command here..." />
                <input type="submit" id="commandEnterButton" value="Enter" />
            </form>
        </div>

        <footer>
            <p>Written by Michael Heasell. Game idea ruthlessly stolen from Paul Ferguson.</p>
        </footer>
    </body>
</html>
